img {
    display: flex;
    align-items: center;
    max-height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.page-margin {
    padding-left: 50px;
    padding-right: 50px;
}

.link-container {

}

.container-fluid {
    background-color: #222553;
}

.nav-link {
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 0;
    transition: background-color 0.5s ease;
    color: white;
}

.nav-link:hover {
}

.nav-link:active {
}