img {
    display: flex;
    align-items: center;
    max-height: 100px;

}

.nav-con {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100px;
}

.nav-link {
    border-radius: 0;
    transition: background-color 0.5s ease;
}

.nav-link:hover {
    background-color: #007bff;
    color: white;
}

.nav-link:active {
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 0;
    transition: background-color 0.5s ease;
}